* {
  margin: 0px;
  padding: 0px;
}

.react-player {
  z-index: 100000;
}

.video-container {
  position: relative;
  z-index: 10000000;
  width: 100%;
  height: 100vh;
  /* margin-top: 80px; */
  margin-bottom: 40px;
}

.project-description {
  position: relative;
  width: 100%;
  z-index: 100000;
  left: 0px;
  height: calc(100vh - 80px);
  background-color: #282828;
}

.project-desc-header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-desc-header p {
  margin-top: 50px;
  font-size: 3vw;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  color: #fbbc04;
}

.project-video {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.project-techs {
  width: 50%;
  /* background-color: #fbbc04; */
}

.project-techs-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.project-techs-header p {
  font-size: 2vw;
  font-family: "Rajdhani", sans-serif;
  color: rgb(255, 255, 255);
}
.project-techs-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}
.project-techs-content-row1 {
  font-size: 1.5vw;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: rgb(255, 216, 216);
  font-family: "Ruluko", sans-serif;
}

.project-techs-content-row2 {
  font-size: 1.5vw;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: rgb(255, 216, 216);
  font-family: "Ruluko", sans-serif;
}
.project-techs-content-row3 {
  font-size: 1.5vw;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: rgb(255, 216, 216);
  font-family: "Ruluko", sans-serif;
}

.project-content {
  margin-top: 80px;
  font-size: 1.5vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-content p {
  text-align: center;
  width: 80%;
  color: rgb(255, 255, 255);
  font-family: "Titillium Web", sans-serif;
}
